body {
    background-color: #264653;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Smooch Sans', sans-serif;
}

nav {
    font-size: 1em;

    display: flex;
    justify-content: space-between;
}

nav a,
nav ul,
nav li {
    display: inline;
    margin: 0;
    padding: 0;
}

main {
    width: 80%;
    margin: 0 auto;
}

a {
    color: #f4a261;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-size: larger;
}

a:active {
    color: #e9c46a;
}

.blogheaderthings {
    font-family: helvetica, sans-serif;
    color: #2a9d8f;
    font-size: 2em;
}

.date {
    font-style: italic;
}

.headers {
    font-family: helvetica, sans-serif;
    color: #e9c46a;
}

h2:nth-of-type(2n),
h6:nth-of-type(2n),
p:nth-of-type(2n) {
    background-color: #2f5767;
}

h1 {
    text-align: center;
}

p {
    padding: 10px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 4em;
    }

    nav,
    nav ul {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 576px) {
    h1 {
        font-size: 3em;
    }
}