body {
    background-color: #264653;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Smooch Sans', sans-serif;
}

main {
    width: 80%;
    margin: 0 auto;
}

a {
    color: #f4a261;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    font-size: larger;
}

a:active {
    color: #e9c46a;
}

.blogheaderthings {
    font-family: helvetica, sans-serif;
    color: #2a9d8f;
    font-size: 2em;
}

.date {
    font-style: italic;
}

.headers {
    font-family: helvetica, sans-serif;
    color: #e9c46a;
}

h2:nth-of-type(2n),
h6:nth-of-type(2n),
p:nth-of-type(2n) {
    background-color: #2f5767;
}

h1 {
    text-align: center;
}

p {
    padding: 10px;
}