body {
    background-color: #264653;
}

a {
    color: #f4a261;
    font-weight: bold;
}

.blogheaderthings {
    font-family: helvetica, sans-serif;
    color: #2a9d8f;
    font-size: 2em;
}

.date {
    font-style: italic;
}

.headers {
    font-family: helvetica, sans-serif;
    color: #e9c46a;
}